<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-imagepicker"
      version="1.1.5">

    <name>ImagePicker</name>
    <description>Cordova ImagePicker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ImagePicker</keywords>
    <repo>https://github.com/giantss/cordova-plugin-ImagePicker.git</repo>
    <issue>https://github.com/giantss/cordova-plugin-ImagePicker/issues</issue>

    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <!-- js module-->
    <js-module src="www/ImagePicker.js" name="ImagePicker">
        <clobbers target="ImagePicker" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="ImagePicker"/>
            </feature>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>拍照上传需要使用相机</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>选图上传需要访问相册</string>
        </config-file>

        <header-file src="src/ios/ImagePickerMain.h"/>
        <source-file src="src/ios/ImagePickerMain.m"/>
        
        <header-file src="src/ios/UIImage+Luban_iOS_Extension_h.h"/>
        <source-file src="src/ios/UIImage+Luban_iOS_Extension_h.m"/>

        <header-file src="src/ios/libs/LxGridViewFlowLayout.h" />
        <source-file src="src/ios/libs/LxGridViewFlowLayout.m"/>

        <header-file src="src/ios/libs/TZTestCell.h" />
        <source-file src="src/ios/libs/TZTestCell.m"/>

        <header-file src="src/ios/libs/NSBundle+TZImagePicker.h" />
        <source-file src="src/ios/libs/NSBundle+TZImagePicker.m"/>

        <header-file src="src/ios/libs/TZAssetCell.h" />
        <source-file src="src/ios/libs/TZAssetCell.m"/>

        <header-file src="src/ios/libs/TZAssetModel.h" />
        <source-file src="src/ios/libs/TZAssetModel.m"/>

        <header-file src="src/ios/libs/TZGifPhotoPreviewController.h" />
        <source-file src="src/ios/libs/TZGifPhotoPreviewController.m"/>

        <header-file src="src/ios/libs/TZImageCropManager.h" />
        <source-file src="src/ios/libs/TZImageCropManager.m"/>

        <header-file src="src/ios/libs/TZImageManager.h" />
        <source-file src="src/ios/libs/TZImageManager.m"/>

        <header-file src="src/ios/libs/TZImagePickerController.h" />
        <source-file src="src/ios/libs/TZImagePickerController.m"/>

        <header-file src="src/ios/libs/TZLocationManager.h" />
        <source-file src="src/ios/libs/TZLocationManager.m"/>

        <header-file src="src/ios/libs/TZPhotoPickerController.h" />
        <source-file src="src/ios/libs/TZPhotoPickerController.m"/>

        <header-file src="src/ios/libs/TZPhotoPreviewCell.h" />
        <source-file src="src/ios/libs/TZPhotoPreviewCell.m"/>

        <header-file src="src/ios/libs/TZPhotoPreviewController.h" />
        <source-file src="src/ios/libs/TZPhotoPreviewController.m"/>

        <header-file src="src/ios/libs/TZProgressView.h" />
        <source-file src="src/ios/libs/TZProgressView.m"/>

        <header-file src="src/ios/libs/TZVideoPlayerController.h" />
        <source-file src="src/ios/libs/TZVideoPlayerController.m"/>

        <header-file src="src/ios/libs/UIView+Layout.h" />
        <source-file src="src/ios/libs/UIView+Layout.m"/>

        <resource-file src="src/ios/libs/TZImagePickerController.bundle" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="android-package" value="com.giants.imagepicker.ImagePickerMain"/>
            </feature>
        </config-file>
        
        <!--edit-config 修改 AndroidManifest.xml 添加 android:largeHeap="true" 目前有 bug，改成使用 hook-->
        <!--Cordova-Android 6.0-->
        <!--<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:largeHeap="true" />
        </edit-config>-->

        <!--Cordova-Android 7.0-->
        <!--<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:largeHeap="true" />
        </edit-config>-->
        <hook type="after_prepare" src="hooks/after_prepare/010-update-android-manifest.js" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.giants.imagepicker.ui.ImageGridActivity"
                    android:configChanges="orientation|screenSize"
                    android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity
                    android:name="com.giants.imagepicker.ui.ImageCropActivity"
                    android:configChanges="orientation|screenSize"
                    android:hardwareAccelerated="false"
                    android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
            <activity
                    android:name="com.giants.imagepicker.ui.ImagePreviewActivity"
                    android:configChanges="orientation|screenSize"
                    android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

            <provider
                    android:authorities="${applicationId}.imagepicker.provider"
                    android:name="com.giants.imagepicker.ImagePickerProvider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/imagepicker_provider_paths"/>
            </provider>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">

            <!-- 在SDCard中创建与删除文件权限 -->
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <!-- 往SDCard写入数据权限 -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <!-- 从SDCard读取数据权限 -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <!-- 相机权限 -->
            <uses-permission android:name="android.permission.CAMERA"/>

        </config-file>

        <!-- 第三方库 和 sourceCompatibility 1.7 用来支持 diamond 运算符  -->
		<framework src="src/android/imagepicker.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/module/adapter/ImageFolderAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImageGridAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImagePageAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImageRecyclerAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/bean/ImageFolder.java" target-dir="src/com/giants/imagepicker/bean" />
        <source-file src="src/android/module/bean/ImageItem.java" target-dir="src/com/giants/imagepicker/bean" />
        <source-file src="src/android/module/loader/ImageLoader.java" target-dir="src/com/giants/imagepicker/loader" />
        <source-file src="src/android/module/ui/ImageBaseActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImageCropActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImageGridActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewBaseActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewDelActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/util/BitmapUtil.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/util/ProviderUtil.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/util/Utils.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/util/NavigationBarChangeListener.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/view/CropImageView.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/FolderPopUpWindow.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/SuperCheckBox.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/SystemBarTintManager.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/ViewPagerFixed.java" target-dir="src/com/giants/imagepicker/view" />

        <source-file src="src/android/module/DataHolder.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImageDataSource.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImagePicker.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImagePickerProvider.java" target-dir="src/com/giants/imagepicker" />

        <source-file src="src/android/imageloader/GlideImageLoader.java" target-dir="src/com/giants/imagepicker/imageloader" />
        <source-file src="src/android/imageloader/PicassoImageLoader.java" target-dir="src/com/giants/imagepicker/imageloader" />

        <source-file src="src/android/ImagePickerMain.java" target-dir="src/com/giants/imagepicker" />
        
        <source-file src="src/android/res/xml/imagepicker_provider_paths.xml" target-dir="res/xml"/>

        <resource-file src="src/android/res/anim/bottom_in.xml" target="res/anim/bottom_in.xml"/>
        <resource-file src="src/android/res/anim/bottom_out.xml" target="res/anim/bottom_out.xml"/>
        <resource-file src="src/android/res/anim/fade_in.xml" target="res/anim/fade_in.xml"/>
        <resource-file src="src/android/res/anim/fade_out.xml" target="res/anim/fade_out.xml"/>
        <resource-file src="src/android/res/anim/hide_to_bottom.xml" target="res/anim/hide_to_bottom.xml"/>
        <resource-file src="src/android/res/anim/left_in.xml" target="res/anim/left_in.xml"/>
        <resource-file src="src/android/res/anim/left_out.xml" target="res/anim/left_out.xml"/>
        <resource-file src="src/android/res/anim/right_in.xml" target="res/anim/right_in.xml"/>
        <resource-file src="src/android/res/anim/right_out.xml" target="res/anim/right_out.xml"/>
        <resource-file src="src/android/res/anim/scale_in.xml" target="res/anim/scale_in.xml"/>
        <resource-file src="src/android/res/anim/scale_out.xml" target="res/anim/scale_out.xml"/>
        <resource-file src="src/android/res/anim/show_from_bottom.xml" target="res/anim/show_from_bottom.xml"/>
        <resource-file src="src/android/res/anim/top_in.xml" target="res/anim/top_in.xml"/>
        <resource-file src="src/android/res/anim/top_out.xml" target="res/anim/top_out.xml"/>

        <resource-file src="src/android/res/drawable/folder_list_divider.xml" target="res/drawable/folder_list_divider.xml"/>
        <resource-file src="src/android/res/drawable/ic_cover_shade.xml" target="res/drawable/ic_cover_shade.xml"/>
        <resource-file src="src/android/res/drawable/radio_item_checked.xml" target="res/drawable/radio_item_checked.xml"/>
        <resource-file src="src/android/res/drawable/selector_back_press.xml" target="res/drawable/selector_back_press.xml"/>
        <resource-file src="src/android/res/drawable/selector_grid_camera_bg.xml" target="res/drawable/selector_grid_camera_bg.xml"/>
        <resource-file src="src/android/res/drawable/selector_item_checked.xml" target="res/drawable/selector_item_checked.xml"/>
        <resource-file src="src/android/res/drawable/selector_top_ok.xml" target="res/drawable/selector_top_ok.xml"/>

        <resource-file src="src/android/res/drawable-xxhdpi/bg_btn_dis.9.png" target="res/drawable-xxhdpi/bg_btn_dis.9.png"/>
        <resource-file src="src/android/res/drawable-xxhdpi/bg_btn_nor.9.png" target="res/drawable-xxhdpi/bg_btn_nor.9.png"/>
        <resource-file src="src/android/res/drawable-xxhdpi/bg_btn_pre.9.png" target="res/drawable-xxhdpi/bg_btn_pre.9.png"/>

        <resource-file src="src/android/res/layout/activity_image_crop.xml" target="res/layout/activity_image_crop.xml"/>
        <resource-file src="src/android/res/layout/activity_image_grid.xml" target="res/layout/activity_image_grid.xml"/>
        <resource-file src="src/android/res/layout/activity_image_preview.xml" target="res/layout/activity_image_preview.xml"/>
        <resource-file src="src/android/res/layout/adapter_camera_item.xml" target="res/layout/adapter_camera_item.xml"/>
        <resource-file src="src/android/res/layout/adapter_folder_list_item.xml" target="res/layout/adapter_folder_list_item.xml"/>
        <resource-file src="src/android/res/layout/adapter_image_list_item.xml" target="res/layout/adapter_image_list_item.xml"/>
        <resource-file src="src/android/res/layout/include_top_bar.xml" target="res/layout/include_top_bar.xml"/>
        <resource-file src="src/android/res/layout/pop_folder.xml" target="res/layout/pop_folder.xml"/>

        <resource-file src="src/android/res/mipmap-xxhdpi/checkbox_checked.png" target="res/mipmap-xxhdpi/checkbox_checked.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/checkbox_normal.png" target="res/mipmap-xxhdpi/checkbox_normal.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/radio_checked.png" target="res/mipmap-xxhdpi/radio_checked.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/radio_normal.png" target="res/mipmap-xxhdpi/radio_normal.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/default_image.png" target="res/mipmap-xxhdpi/default_image.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/grid_camera.png" target="res/mipmap-xxhdpi/grid_camera.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_back.png" target="res/mipmap-xxhdpi/ic_back.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/ic_del.png" target="res/mipmap-xxhdpi/ic_del.png"/>
        <resource-file src="src/android/res/mipmap-xxhdpi/text_indicator.png" target="res/mipmap-xxhdpi/text_indicator.png"/>

        <resource-file src="src/android/res/values/attrs.xml" target="res/values/attrs.xml"/>
        <resource-file src="src/android/res/values/multi_image_chooser_colors.xml" target="res/values/multi_image_chooser_colors.xml"/>
        <resource-file src="src/android/res/values/multi_image_chooser_strings.xml" target="res/values/multi_image_chooser_strings.xml"/>
        <resource-file src="src/android/res/values-en/multi_image_chooser_strings.xml" target="res/values-en/multi_image_chooser_strings.xml"/>
        <resource-file src="src/android/res/values-pt/multi_image_chooser_strings.xml" target="res/values-pt/multi_image_chooser_strings.xml"/>

    </platform>





</plugin>
