<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-ImagePicker"
      version="0.1.0">

    <name>ImagePicker</name>
    <description>Cordova ImagePicker Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ImagePicker</keywords>
    <repo>https://github.com/giantss/cordova-plugin-ImagePicker.git</repo>
    <issue>https://github.com/giantss/cordova-plugin-ImagePicker/issues</issue>

    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=4.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <!-- js module-->
    <js-module src="www/ImagePicker.js" name="ImagePicker">
        <clobbers target="ImagePicker" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="ImagePicker"/>
            </feature>
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>使用相机</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>使用相册</string>
        </config-file>

        <header-file src="src/ios/ImagePickerMain.h"/>
        <source-file src="src/ios/ImagePickerMain.m"/>

        <header-file src="src/ios/libs/LxGridViewFlowLayout.h" />
        <source-file src="src/ios/libs/LxGridViewFlowLayout.m"/>

        <header-file src="src/ios/libs/TZTestCell.h" />
        <source-file src="src/ios/libs/TZTestCell.m"/>

        <header-file src="src/ios/libs/NSBundle+TZImagePicker.h" />
        <source-file src="src/ios/libs/NSBundle+TZImagePicker.m"/>

        <header-file src="src/ios/libs/TZAssetCell.h" />
        <source-file src="src/ios/libs/TZAssetCell.m"/>

        <header-file src="src/ios/libs/TZAssetModel.h" />
        <source-file src="src/ios/libs/TZAssetModel.m"/>

        <header-file src="src/ios/libs/TZGifPhotoPreviewController.h" />
        <source-file src="src/ios/libs/TZGifPhotoPreviewController.m"/>

        <header-file src="src/ios/libs/TZImageCropManager.h" />
        <source-file src="src/ios/libs/TZImageCropManager.m"/>

        <header-file src="src/ios/libs/TZImageManager.h" />
        <source-file src="src/ios/libs/TZImageManager.m"/>

        <header-file src="src/ios/libs/TZImagePickerController.h" />
        <source-file src="src/ios/libs/TZImagePickerController.m"/>

        <header-file src="src/ios/libs/TZLocationManager.h" />
        <source-file src="src/ios/libs/TZLocationManager.m"/>

        <header-file src="src/ios/libs/TZPhotoPickerController.h" />
        <source-file src="src/ios/libs/TZPhotoPickerController.m"/>

        <header-file src="src/ios/libs/TZPhotoPreviewCell.h" />
        <source-file src="src/ios/libs/TZPhotoPreviewCell.m"/>

        <header-file src="src/ios/libs/TZPhotoPreviewController.h" />
        <source-file src="src/ios/libs/TZPhotoPreviewController.m"/>

        <header-file src="src/ios/libs/TZProgressView.h" />
        <source-file src="src/ios/libs/TZProgressView.m"/>

        <header-file src="src/ios/libs/TZVideoPlayerController.h" />
        <source-file src="src/ios/libs/TZVideoPlayerController.m"/>

        <header-file src="src/ios/libs/UIView+Layout.h" />
        <source-file src="src/ios/libs/UIView+Layout.m"/>


        <resource-file src="src/ios/libs/TZImagePickerController.bundle" />




    </platform>



    <!-- android -->
    <platform name="android">
       <hook type="after_plugin_install" src="hooks/after_plugin_install/hook-add-r-import.js" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="android-package" value="com.giants.imagepicker.ImagePickerMain"/>
            </feature>
        </config-file>



        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.giants.imagepicker.ui.ImageBaseActivity"/>
            <activity
                    android:name="com.giants.imagepicker.ui.ImageGridActivity"
                    android:configChanges="orientation|screenSize"
                    android:theme="@style/ImagePickerTheme"/>
            <activity
                    android:name="com.giants.imagepicker.ui.ImageCropActivity"
                    android:configChanges="orientation|screenSize"
                    android:hardwareAccelerated="false"
                    android:theme="@style/ImagePickerTheme"/>
            <activity
                    android:name="com.giants.imagepicker.ui.ImagePreviewActivity"
                    android:configChanges="orientation|screenSize"
                    android:theme="@style/ImagePickerThemeFullScreen"/>

            <provider
                    android:authorities="${applicationId}.provider"
                    android:name="com.giants.imagepicker.ImagePickerProvider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">

            <!-- 在SDCard中创建与删除文件权限 -->
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
            <!-- 往SDCard写入数据权限 -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <!-- 从SDCard读取数据权限 -->
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <!-- 相机权限 -->
            <uses-permission android:name="android.permission.CAMERA"/>

        </config-file>

        <!-- sourceCompatibility 1.7 用来支持 diamond 运算符  -->
        <source-file src="src/android/build-extras.gradle" target-dir="../android" />
        <source-file src="src/android/module/adapter/ImageFolderAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImageGridAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImagePageAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/adapter/ImageRecyclerAdapter.java" target-dir="src/com/giants/imagepicker/adapter" />
        <source-file src="src/android/module/bean/ImageFolder.java" target-dir="src/com/giants/imagepicker/bean" />
        <source-file src="src/android/module/bean/ImageItem.java" target-dir="src/com/giants/imagepicker/bean" />
        <source-file src="src/android/module/loader/ImageLoader.java" target-dir="src/com/giants/imagepicker/loader" />
        <source-file src="src/android/module/ui/ImageBaseActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImageCropActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImageGridActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewBaseActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/ui/ImagePreviewDelActivity.java" target-dir="src/com/giants/imagepicker/ui" />
        <source-file src="src/android/module/util/BitmapUtil.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/util/ProviderUtil.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/util/Utils.java" target-dir="src/com/giants/imagepicker/util" />
        <source-file src="src/android/module/view/CropImageView.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/FolderPopUpWindow.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/SuperCheckBox.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/SystemBarTintManager.java" target-dir="src/com/giants/imagepicker/view" />
        <source-file src="src/android/module/view/ViewPagerFixed.java" target-dir="src/com/giants/imagepicker/view" />

        <source-file src="src/android/module/compresshelper/BitmapUtil.java" target-dir="src/com/giants/imagepicker/compresshelper" />
        <source-file src="src/android/module/compresshelper/CompressHelper.java" target-dir="src/com/giants/imagepicker/compresshelper" />
        <source-file src="src/android/module/compresshelper/FileUtil.java" target-dir="src/com/giants/imagepicker/compresshelper" />
        <source-file src="src/android/module/compresshelper/ImageUtil.java" target-dir="src/com/giants/imagepicker/compresshelper" />
        <source-file src="src/android/module/compresshelper/StringUtil.java" target-dir="src/com/giants/imagepicker/compresshelper" />


        <source-file src="src/android/module/DataHolder.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImageDataSource.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImagePicker.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/ImagePickerProvider.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/module/GlideImageLoader.java" target-dir="src/com/giants/imagepicker" />

        <source-file src="src/android/ImagePickerMain.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/PicassoImageLoader.java" target-dir="src/com/giants/imagepicker" />
        <source-file src="src/android/GApp.java" target-dir="src/com/giants/imagepicker" />

        <source-file src="src/android/res/anim/bottom_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/bottom_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/fade_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/fade_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/hide_to_bottom.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/left_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/left_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/right_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/right_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/scale_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/scale_out.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/show_from_bottom.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/top_in.xml" target-dir="res/anim"/>
        <source-file src="src/android/res/anim/top_out.xml" target-dir="res/anim"/>

        <source-file src="src/android/res/drawable/selector_back_press.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/selector_grid_camera_bg.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/selector_item_checked.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/selector_top_ok.xml" target-dir="res/drawable"/>


        <source-file src="src/android/res/drawable-xxhdpi/bg_btn_dis.9.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/res/drawable-xxhdpi/bg_btn_nor.9.png" target-dir="res/drawable-xxhdpi"/>
        <source-file src="src/android/res/drawable-xxhdpi/bg_btn_pre.9.png" target-dir="res/drawable-xxhdpi"/>


        <source-file src="src/android/res/layout/activity_image_crop.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/activity_image_grid.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/activity_image_preview.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/adapter_camera_item.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/adapter_folder_list_item.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/adapter_image_list_item.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/include_top_bar.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/layout/pop_folder.xml" target-dir="res/layout"/>

        <source-file src="src/android/res/mipmap-xxhdpi/checkbox_checked.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/checkbox_normal.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/default_image.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/grid_camera.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/ic_back.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/ic_del.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/list_selected.png" target-dir="res/mipmap-xxhdpi"/>
        <source-file src="src/android/res/mipmap-xxhdpi/text_indicator.png" target-dir="res/mipmap-xxhdpi"/>


        <source-file src="src/android/res/values/attrs.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/styles.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/multi_image_chooser_colors.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values/multi_image_chooser_strings.xml" target-dir="res/values"/>
        <source-file src="src/android/res/values-en/multi_image_chooser_strings.xml" target-dir="res/values-en"/>
        <source-file src="src/android/res/values-pt/multi_image_chooser_strings.xml" target-dir="res/values-pt"/>


        <framework src="com.android.support:appcompat-v7:25.1.1" />
        <framework src="com.github.chrisbanes.photoview:library:1.2.4" />
        <framework src="com.android.support:recyclerview-v7:25.1.1" />
        <framework src="com.squareup.picasso:picasso:2.5.2" />
        <framework src="com.nostra13.universalimageloader:universal-image-loader:1.9.5" />
        <framework src="org.xutils:xutils:3.3.36" />
        <framework src="com.github.bumptech.glide:glide:3.7.0"/>

    </platform>





</plugin>
